<!doctype html>
<html>
  <body>
    <h1>Lookup Graffiti</h1>
    <form method="GET" action="/report">
      <table>
        <tr>
          <td>Zipcode</td>
          <td><input name="zip_code"></td>
        </tr>
        <tr>
          <td>Alderman</td>
          <td><input name="alderman"></td>
        </tr>
        <tr>
          <td>Ward</td>
          <td><input name="ward"></td>
        </tr>
        <tr>
          <td>Police District</td>
          <td><input name="police_district"></td>
        </tr>
        <tr>
          <td>Start Date</td>
          <td><input name="start_date"></td>
        </tr>
        <tr>
          <td>Stop Date</td>
          <td><input name="stop_date"></td>
        </tr>
      </table>
      <input type="submit">
    </form>
  </body>
</html>
