<!doctype html>
<html>
  <body>
    <h1><%= Enum.count(data) %> graffiti removal requests between <%= Timex.format!(start_date, "{ISO:Extended}") %> and <%= Timex.format!(stop_date, "{ISO:Extended}") %></h1>
    <table>
      <tr>
        <th>Zip Code</th>
        <th>Ward</th>
        <th>Alderman</th>
        <th>Police District</th>
        <th>Address</th>
        <th>Date</th>
      </tr>
      <%= for c <- data do %>
        <tr>
          <td><%= c["zip_code"] %></td>
          <td><%= c["ward"] %></td>
          <td><%= c["alderman"] %></td>
          <td><%= c["police_district"] %></td>
          <td><%= c["street_address"] %></td>
          <td><%= c["creation_date"] %></td>
        </tr>
    <% end %>
    </table>
  </body>
</html>
